
// google fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700,800&display=swap');
/*==== Table Of Content ====*/

/*====
0. General
1. Navigation
2. Home
3. About
4. Features

====*/

body {
	margin: 0;

}

/*===========
1. < Navigation >
===========*/

.navbar {
	background-color: #000;
	box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*===========
</ Navigation >
===========*/

body {
	background-color: #000;
	font-family: 'Poppins', sans-serif;
}

.blue_shadow {
	box-shadow: 0 2px 8px 10px rgba(25,116,210, 0.2), 0 2px 20px 0 rgba(25,116,210, 0.19);
}

/*===========
1. < Home >
===========*/

#homepage {
	background-color: #000;
}

.fullscreen-video-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.fullscreen-video-wrap video {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
}

.header-overlay {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.6);
	box-shadow:
		inset 0px -100px 80px 0px rgba(0,0,0,0.9),
		inset 0px -30px 60px 0px rgba(0,0,0,0.9),
		inset 0px -5px 5px 0px rgba(0,0,0,0.9);
	z-index: 1;
}

.h-contents {
	z-index: 2 !important;
	position: relative;
}

.homepage_text {
	color: #fff;
	font-weight: 700;
}

.homepage_title {
	margin-top: 10vh;
	font-size: 4rem;
}

.homepage_text .btn-default {
	border: solid 4px #1974d2;
	color: #1974d2;
	border-radius: 10px;
	padding: 15px;
	font-size: 18px;
	font-weight: 500;
	transition: all ease 1s;
}

.homepage_text .btn-default:hover {
	border: solid 4px #1974d2;
	background-color: #1974d2;
	color: #fff;
	border-radius: 10px;
	padding: 15px;
	font-size: 18px;
	font-weight: 500;
	transition: all ease 1s;
}

.btn-default i {
	margin-left: 10px;
}


.homepage_text .btn-default ion-icon {
	font-size: 20px;
}



/*===========
</ Home >
===========*/

#homepage_mobile {
	height: 100vh;
	background-image: url('https://res.cloudinary.com/duw1ccgzp/image/upload/v1580925905/immersia/bg-homepage-mobile.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;

}

#homepage_mobile .homepage_mobile-title {
	margin-top: 25vh;
}

#homepage_mobile .btn-default {
	background-color: #1974d2;
	color: #fff;
	border-radius: 10px;
	padding: 15px;
	font-size: 15px;
}

.btn-default i {
	margin-left: 10px;
}

/*===========
1. < about >
===========*/

#about {
	background-color: #000;
	margin-top: 30vh;
}

@media only screen and (max-width: 992px) {
	#about {
		background-color: #000;
		margin-top: 10vh;
	}
}

#about .line {
	width: 100px;
	height: 5px;
	border-radius: 2px;
	background-color: #1974d2;
}

/*===========
</ features >
===========*/

#features {
	background-color: #000;
	background-image: url('https://res.cloudinary.com/duw1ccgzp/image/upload/v1580925914/immersia/feature_bg.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow:
		inset 0px -100px 80px 0px rgba(0,0,0,0.9),
		inset 0px -30px 60px 0px rgba(0,0,0,0.9),
		inset 0px -100px 80px 0px rgba(0,0,0,0.9),
		inset 0px -30px 60px 0px rgba(0,0,0,0.9),
		inset 0px -5px 5px 0px rgba(0,0,0,0.9);
}

.features_img-one {
	background-image: url('https://res.cloudinary.com/duw1ccgzp/image/upload/v1581080220/immersia/feature_img-one.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px;
	height: 220px;
	transition: all 1s;
}

.features_img-one:hover {
	background-size: 120%;
}

.features_img-two {
	background-image: url('https://res.cloudinary.com/duw1ccgzp/image/upload/v1580925923/immersia/feature_img-two.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px;
	height: 220px;
	transition: all 1s;
}

.features_img-two:hover {
	background-size: 120%;
}


.features_img-three {
	background-image: url('https://res.cloudinary.com/duw1ccgzp/image/upload/v1580925923/immersia/feature_img-three.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px;
	height: 220px;
	transition: all 1s;
}

.features_img-three:hover {
	background-size: 120%;
}


#features .line {
	width: 200px;
	height: 5px;
	border-radius: 2px;
	background-color: #1974d2;
}

/*===========
</ features >
===========*/

/*===========
</ education >
===========*/

#education {
	background-color: #000;
}

.edu_img-one, .edu_img-two, .edu_img-three {
	border-radius: 20px;
}

#education .line {
	width: 200px;
	height: 5px;
	border-radius: 2px;
	background-color: #1974d2;
}

/*===========
</ education >
===========*/

/*===========
</ Pricing >
===========*/

#Pricing {
	background-color: #000;
}

.price_img {
	width: 150px;
}

#Pricing .card {
	margin: auto;
	background-color: transparent;
}

.contact_btn {
	border: solid 4px #fff;
	color: #fff;
	margin-top: 20px;
	transition: all ease 1s;
}

.contact_btn:hover {
	color: #fff;
	margin-top: 20px;
	transition: all ease 1s;
	border: solid 4px #000;
}

/*===========
</ Pricing >
===========*/

/*===========
</ contact >
===========*/

#contact {
	background-color: #000;
}

.contact_img {
	border-radius: 20px;
}

/*===========
</ contact >
===========*/

/*===========
</ footer >
===========*/

footer {
	background-color: #000;
}

/*===========
</ footer >
===========*/